---
layout: default
---

<div class="posts">
  {% for topic in site.collections | where 'featured', 'true' %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ topic.url }}">{{ topic.title }}</a></h2>
      <h4>{{ topic.tagline }}</h4>

      <div class="entry">
        <img src="{{ site.baseurl }}{{ topic.image }}">
      </div>

      <ul>
        {% for chapter in site.collections.british_railways | sort: 'order' %}
        <li>
           <a href="{{ site.baseurl }}{{ chapter.url }}">{{ chapter.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </article>
  {% endfor %}
</div>