---
layout: default
---

<div class="posts">
  {% for topic in site.collections %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ topic.url }}">{{ topic.title }}</a></h1>
      <h3>{{ topic.tagline }}</h3>

      <div class="entry">
        <img source="{{ site.baseurl }}{{ topic.image }}">
      </div>

      <ul>
        {% for chapter in topic | sort: 'order' %}
        <li>
           <a href="{{ site.baseurl }}{{ topic.url }}">{{ topic.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </article>
  {% endfor %}
</div>